*{
    padding:0;
    margin: 0;
}

body{
    background-color: #fef9f8;
    color: #0d0d0d;
}



main {
    width:80%;
    text-align: center;
    margin: 0 auto;
}

h1{
    font-size: 9em;
    margin-left: 1.3em;
    margin-top: 0.8em;
}

p {
    font-size: 2.5em;
    float: right;
    margin-right: 5.5em;
}


/* nav bar */

nav {
   
    
    
}

.navigation{
    display:flex;
    justify-content: flex-end;
    
    
}

nav li {
    list-style: none;
    padding: 1em 3em ;
    font-size: 1.3em;
}

