*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: #fef9f8;
    color: #0d0d0d;
    font-family: futura-pt, sans-serif;
}



main {
   
}



p {
    font-size: 2.5em;
    
  
}


/* nav bar */

nav {
   height:10vh;
    
    
}

.navigation{
    display:flex;
    justify-content: flex-end;
    
    
}

nav li {
    list-style: none;
    font-size: 1.3em;
    
    margin: 2rem 0;
    padding: 0 2rem;
    
}


.container {
  max-width: 90%;
  margin: 0 auto;
  
  
}

.nav{
    display:flex;
    justify-content: space-between;

}

#logo{
    padding: 2rem 0;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
}


/* hero */

#hero {
    
}
 

h1{
    font-size: 13em;
    height:70%;

    
}

p {height:20%;
font-size:4em;
font-weight: 300;}



.flex{
    display:flex;
}

.hero-h1-container{
    height:70%;
    align-items: center;

}

.hero-para-container {
    height:20%;
    justify-content: flex-end;
    margin-top:20px;
    
}

#scrolldown{
 text-align: center;
 margin-top: 100px;
}